<section style="padding-top: 150px; background-color:snow">
    <div class="container" data-aos="fade-up">
        <div class="container">

            @if(emailConfirmed){
                <div style="text-align: center;">
                    <img src="images/others/confirmed.png" width="20%" />
                    <h3 style="margin-top: 50px;">E-mail confirmado. Faça Login</h3>
                    <div class="col-12" style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
                        <a mat-raised-button style="color: white; background-color: #3EA201;" [routerLink]="['/login']">Acessar a plataforma</a>
                    </div>
                </div>
            }

            @if(!emailConfirmed){
                <div style="text-align: center;">
                    <img src="images/others/confirmed.png" />
                    <h3 style="margin-top: 50px;">E-mail não confirmado. Entre em contato conosco através do e-mail contato&#64;helicoptair.com.br</h3>
                </div>
            }

        </div>
    </div>
</section>