<span fxLayoutAlign="center center" class="item">
  <mat-icon [color]="iconColor" [ngClass]="'mat-icon-' + iconSize">call</mat-icon>
  <span class="px-1">+55 21 99558-5986</span>
</span>
@if (dividers) {
  <span class="v-divider"></span>
}
<span fxLayoutAlign="center center" class="item">
  <mat-icon [color]="iconColor" [ngClass]="'mat-icon-' + iconSize">location_on</mat-icon>
  <span class="px-1">{{ 'LOCAL' | translate }}</span>
  <!-- <span class="px-1">Aeroporto de Jacarepaguá - RJ</span> -->
</span>
@if (dividers) {
  <span class="v-divider"></span>
}
<span fxLayoutAlign="center center" class="item">
  <mat-icon [color]="iconColor" [ngClass]="'mat-icon-' + iconSize">mail</mat-icon>
  <span class="px-1">contato&#64;helicoptair.com.br</span>
</span>
