.testimonials-carousel {
    .swiper-container {
        padding-bottom: 50px;

        .p{
            img {
                border-radius: 50%;
                width: 150px;
                height: 100px;
            }
        }

        .content {
            max-width: 650px;
            margin: 0 auto;

            // img {
            //     border-radius: 50%;
            //     width: 40px;
            //     height: 40px;
            // }

            .quote {
                font-size: 50px;
                line-height: 14px;

                &.open {
                    margin-top: 24px;
                }

                &.close {
                    margin-bottom: 24px;
                }
            }

            .text {
                font-weight: 500;
            }

            .author {
                text-transform: uppercase;
            }
        }
    }
}

.testimonials-carousel-2 {
    img {
        border-radius: 50%;
        width: 150px;
        height: 100px;
    }
}