<div class="header-carousel" [class.offset-bottom]="contentOffsetToTop" [class.fullscreen]="fullscreen" [ngClass]="'toolbar-'+settings.toolbar">
    @if (slides.length >= 1) { 
        <div class="swiper-container h-100" [swiper]="config" (indexChange)="onIndexChange($event)">
            <div class="swiper-wrapper h-100"> 
                <!-- <div class="swiper-slide">
                    <div [attr.data-background]="slides[0].image" class="slide-item swiper-lazy">
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                </div> -->
                @for (slide of slides; track $index) {
                    <div class="swiper-slide">
                        <div [attr.data-background]="slide.image" class="slide-item swiper-lazy">
                            @if(slide.image == "images/slides/voospanoramicos_slide1-big.jpg"){
                                <div style="text-align: center;">
                                    <h1 style="color: white; text-align: center; padding-top: 50px; font-size: 40px; text-shadow: 0.1em 0.1em 0.2em black">Helicoptair</h1>
                                    <h3 style="color: white; text-align: center; font-size: 20px; text-shadow: 0.1em 0.1em 0.2em black">Venha voar no melhor passeio de helicóptero no Rio de Janeiro</h3>
                                    <!-- <a href="#testeRolagem" mat-raised-button color="primary" class="uppercase" style="margin-top: 20px;">Conhecer voos</a> -->
                                    <a href="https://api.whatsapp.com/send?phone=5521995585986" target="_blank" mat-raised-button color="primary" class="uppercase" style="margin-top: 20px; background-color: #25d366;">Continuar no WhatsApp</a>
                                </div>
                            }
                            @if(slide.image == "images/slides/voospanoramicos_slide3-big.jpg"){
                                <div style="text-align: center;">
                                    <h1 style="color: white; text-align: center; padding-top: 50px; font-size: 40px; text-shadow: 0.1em 0.1em 0.2em black">Viva momentos épicos</h1>
                                    <h3 style="color: white; text-align: center; font-size: 20px; text-shadow: 0.1em 0.1em 0.2em black">Venha entender porque o Rio de Janeiro é a Cidade Maravilhosa</h3>
                                    <!-- <a href="#testeRolagem" mat-raised-button color="primary" class="uppercase" style="margin-top: 20px;">Conhecer voos</a> -->
                                    <a href="https://api.whatsapp.com/send?phone=5521995585986" target="_blank" mat-raised-button color="primary" class="uppercase" style="margin-top: 20px; background-color: #25d366;">Continuar no WhatsApp</a>
                                </div>
                            }
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                    </div>
                }
            </div>     
            <!-- <button mat-mini-fab color="primary" class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
            <button mat-mini-fab color="primary" class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button> -->
        
            <!-- <div fxLayout="column" fxLayoutAlign="center center" class="slide-info" [dir]="(settings.rtl) ? 'rtl' : 'ltr'">
                <mat-card class="p-4">
                    <h1 class="slide-title">{{currentSlide.title}}</h1>
                    <p class="location" fxLayout="row" fxLayoutAlign="center center">
                        <mat-icon color="primary" ngClass.gt-sm="mat-icon-lg">location_on</mat-icon>
                        <span class="px-1">{{currentSlide.location}}</span>
                    </p> 
                    <button mat-raised-button color="primary" class="price">
                        <span>
                            <span>Conhecer</span>
                        </span>
                        @if (settings.currency == 'USD') {
                            <span class="price">
                                @if (currentSlide.priceDollar.sale) {
                                    <span>{{currentSlide.priceDollar.sale | currency : 'USD' : 'symbol' : '1.0'}}</span>
                                }
                                @if (currentSlide.priceDollar.rent) {
                                    <span>{{currentSlide.priceDollar.rent | currency : 'USD' : 'symbol' : '1.0'}} /month</span>
                                } 
                            </span>
                        }                       
                        @if (settings.currency == 'EUR') {
                            <span class="price">
                                @if (currentSlide.priceEuro.sale) {
                                    <span>{{currentSlide.priceEuro.sale | currency : 'EUR' : 'symbol' : '1.0'}}</span>
                                }
                                @if (currentSlide.priceEuro.rent) {
                                    <span>{{currentSlide.priceEuro.rent | currency : 'EUR' : 'symbol' : '1.0'}} /month</span>
                                } 
                            </span>
                        } 
                        @if (settings.currency == 'BRL') {
                            <span class="price">
                                @if (currentSlide.priceReal.sale) {
                                    <span>{{currentSlide.priceReal.sale | currency : 'BRL' : 'R$ ' : '1.0'}}</span>
                                }
                                @if (currentSlide.priceReal.rent) {
                                    <span>{{currentSlide.priceReal.rent | currency : 'BRL' : 'R$ ' : '1.0'}} /month</span>
                                } 
                            </span>
                        } 
                    </button>                  
                </mat-card>  
            </div>  -->
        </div>
    }
</div>