<div class="section default">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">{{ 'DIFERENCIAIS.TITULO' | translate }}</h1>            

            <mat-card class="p-0 o-hidden" fxLayout="row wrap"> 
                <div fxFlex="100" fxFlex.gt-md="50" class="p-3">            
                   <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
                            <mat-icon color="primary" class="mat-icon-xlg">monetization_on</mat-icon>
                            <h2 class="capitalize fw-600 my-2">{{ 'DIFERENCIAIS.PRECO_JUSTO' | translate }}</h2>
                            <p style="text-align: justify;">{{ 'DIFERENCIAIS.PRECO_JUSTO_TEXTO' | translate }}</p>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
                            <mat-icon color="primary" class="mat-icon-xlg">thumb_up</mat-icon>
                            <h2 class="capitalize fw-600 my-2">{{ 'DIFERENCIAIS.INOVACAO' | translate }}</h2>
                            <p style="text-align: justify;">{{ 'DIFERENCIAIS.INOVACAO_TEXTO' | translate }}</p>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
                            <mat-icon color="primary" class="mat-icon-xlg">group</mat-icon>
                            <h2 class="capitalize fw-600 my-2">{{ 'DIFERENCIAIS.EQUIPE_QUALIFICADA' | translate }}</h2>
                            <p style="text-align: justify;">{{ 'DIFERENCIAIS.EQUIPE_QUALIFICADA_TEXTO' | translate }}</p>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
                            <mat-icon color="primary" class="mat-icon-xlg">book_online</mat-icon>
                            <h2 class="capitalize fw-600 my-2">{{ 'DIFERENCIAIS.AGENDAMENTO_ONLINE' | translate }}</h2>
                            <p style="text-align: justify;">{{ 'DIFERENCIAIS.AGENDAMENTO_ONLINE_TEXTO' | translate }}</p>
                        </div>
                   </div>                     
                </div> 
                <div fxFlex="100" fxFlex.gt-md="50" fxShow="false" fxShow.gt-md>                    
                    <img src="images/others/mission.jpg" alt="mission" class="mw-100 d-block">                
                </div>            
            </mat-card>
                
        </div>
    </div>   
</div>