<app-header-image
    [backgroundImage]="'images/slides/passeioHelicopteroRiodeJaneiroSlide4.webp'"
    [bgImageAnimate]="true"
    [contentOffsetToTop]="true"
    [title]="'VIP TOUR'"
    [isHomePage]="false"
    [fullscreen]="true">
</app-header-image> 

<div class="section default mt-0" >
    <div class="theme-container">
        <div class="my-3">
            <app-monthly-pricing></app-monthly-pricing>
        </div>
        <div style="text-align: center;">
            <iframe width="950px" height="540px" src="https://www.youtube.com/embed/eHXfi7R7zM0?si=ehivQaHSCWiGGp12?version=3&vq=hd1080 | safe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div style="text-align: center;">
            <p style="margin-top: 20px; background-color: rgba(59,59,59); font-size: 20px; color: antiquewhite;">Live the best experience of your life for less than 2,500$</p>
        </div>
        <div class="my-3" style="text-align: center;">
            <a href="https://api.whatsapp.com/send?phone=5521995585986&text=I%20am%20VIP.%20I%20Want%20to%20book%20it..." target="_blank" mat-raised-button color="primary" class="uppercase" style="margin-top: 20px; background-color: rgba(59,59,59); width: 400px; height: 80px; font-size: 20px;"><mat-icon>diamond</mat-icon>I am VIP. I want it...</a>
        </div>
    </div>
</div>