<app-header-image
    [backgroundImage]="'images/slides/passeioHelicopteroRiodeJaneiroSlide4.webp'"
    [bgImageAnimate]="true"
    [contentOffsetToTop]="true"
    [title]="'VIP TOUR'"
    [isHomePage]="false"
    [fullscreen]="true">
</app-header-image> 

<div class="section default mt-0" >
    <div class="theme-container">
        <div class="my-3">
            <app-monthly-pricing></app-monthly-pricing>
        </div>
        <div style="text-align: center;">
            <p style="margin-top: 20px; background-color: rgba(59,59,59); font-size: 20px; color: antiquewhite;">R$ 11.900 para viver a experiência mais incrível da sua vida</p>
        </div>
        <div class="my-3" style="text-align: center;">
            <a href="https://api.whatsapp.com/send?phone=5521995585986&text=O" target="_blank" mat-raised-button color="primary" class="uppercase" style="margin-top: 20px; background-color: rgba(59,59,59); width: 400px; height: 80px; font-size: 20px;"><mat-icon>diamond</mat-icon>EU SOU VIP, QUERO AGENDAR</a>
        </div>
    </div>
</div>