<div class="section mt-3">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">{{ 'OFERECEMOS.TITULO' | translate }}</h1> 

            <div fxLayout="row wrap" class="services-wrapper">
                <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-sm="50" class="p-2">                 
                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-100 w-100 text-center p-3">            
                        <mat-icon class="mat-icon-xlg" color="primary">local_activity</mat-icon>
                        <h2 class="capitalize fw-600 my-3">{{ 'OFERECEMOS.VOOS_PANORAMICOS' | translate }}</h2>
                        <p>{{ 'OFERECEMOS.VOOS_PANORAMICOS_TEXTO' | translate }}</p>           
                    </mat-card>                   
                </div>
                <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-sm="50" class="p-2">                 
                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-100 w-100 text-center p-3">            
                        <mat-icon class="mat-icon-xlg" color="primary">luggage</mat-icon>
                        <h2 class="capitalize fw-600 my-3">{{ 'OFERECEMOS.VOOS_TRANSLADOS' | translate }}</h2>
                        <p>{{ 'OFERECEMOS.VOOS_TRANSLADOS_TEXTO' | translate }}</p>             
                    </mat-card>                   
                </div>
                <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-sm="50" class="p-2">                 
                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-100 w-100 text-center p-3">            
                        <mat-icon class="mat-icon-xlg" color="primary">photo_camera</mat-icon>
                        <h2 class="capitalize fw-600 my-3">{{ 'OFERECEMOS.SERVICOS_FOTOGRAFICOS' | translate }}</h2>
                        <p>{{ 'OFERECEMOS.SERVICOS_FOTOGRAFICOS_TEXTO' | translate }}</p>             
                    </mat-card>                   
                </div>
                <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-sm="50" class="p-2">                 
                    <mat-card fxLayout="column" fxLayoutAlign="start center" class="h-100 w-100 text-center p-3">            
                        <mat-icon class="mat-icon-xlg" color="primary">no_crash</mat-icon>
                        <h2 class="capitalize fw-600 my-3">{{ 'OFERECEMOS.TRANSFER_TERRESTRE' | translate }}</h2>
                        <p>{{ 'OFERECEMOS.TRANSFER_TERRESTRE_TEXTO' | translate }}</p>             
                    </mat-card>                   
                </div>
            </div>                
        </div>
    </div>   
</div>