<form [formGroup]="form" class="search-wrapper" [ngClass]="'variant-'+variant">

    <div [fxLayout]="(vertical) ? 'column' : 'row wrap'"> 

        <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                <mat-label>{{ 'QUANTIDADE' | translate }}</mat-label> 
                <mat-select placeholder="{{ 'PLACEHOLDER.QUANTIDADE' | translate }}" formControlName="quantidade_pax">
                    <!-- @for (propertyType of propertyTypes; track $index) {
                        <mat-option [value]="propertyType">{{propertyType.name}}</mat-option>
                    } -->
                    <mat-option value='1'>1</mat-option>
                    <mat-option value='2'>2</mat-option>
                    <mat-option value='3'>3</mat-option>
                    <mat-option value='4'>4</mat-option>
                    <mat-option value='5'>5</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                <mat-label>{{ 'DURACAO' | translate }}</mat-label>
                <mat-select placeholder="{{ 'PLACEHOLDER.DURACAO' | translate }}" formControlName="tempo_de_voo_minutos">
                    <mat-option value='10'>10 min</mat-option>
                    <mat-option value='20'>20 min</mat-option>
                    <mat-option value='30'>30 min</mat-option>
                    <mat-option value='40'>40 min</mat-option>
                    <mat-option value='45'>45 min</mat-option>
                </mat-select>
            </mat-form-field>
        </div>     
        
        <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                <mat-label>{{ 'CATEGORIA_VOO' | translate }}</mat-label>
                <mat-select placeholder="{{ 'PLACEHOLDER.CATEGORIA_VOO' | translate }}" formControlName="categoria_de_voo">
                    <mat-option value='1'>Panorâmico</mat-option>
                    <mat-option value='2'>Translado</mat-option>
                    <mat-option value='3'>Doors-off</mat-option>
                </mat-select>
            </mat-form-field>
        </div>  

        <div fxFlex="100" fxFlex.gt-sm="66.6" fxFlex.sm="50" class="p-2">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                <mat-label>{{ 'TIPO_VOO' | translate }}</mat-label>
                <mat-select placeholder="{{ 'PLACEHOLDER.TIPO_VOO' | translate }}" formControlName="tipo_de_voo">
                    <mat-option value='1'>Compartilhado</mat-option>
                    <mat-option value='2'>Exclusivo</mat-option>
                    <mat-option value='3'>Com foto ou vídeo</mat-option>
                    <mat-option value='4'>Com foto + vídeo</mat-option>
                </mat-select>
            </mat-form-field>
        </div>  

        <!-- <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">
            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                <mat-label>Serviços adicionais</mat-label>
                <mat-select placeholder="Selecione o serviço" formControlName="#">
                    <mat-option value='3'>Com foto ou vídeo</mat-option>
                    <mat-option value='4'>Com foto + vídeo</mat-option>
                </mat-select>
            </mat-form-field>
        </div>   -->

        <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2" formGroupName="price">

            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div fxFlex="45">
                    <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                        <!-- <mat-label>{{(variant == 1) ? 'Preço R$' : 'A partir de'}}</mat-label> -->
                        @if(variant == 1){
                            <mat-label>{{ 'PRECO' | translate }} R$</mat-label>
                        }
                        @else{
                            <mat-label>A partir de</mat-label>
                        }
                        <input matInput autocomplete="off" placeholder="{{ 'PRECO_DE' | translate }}" formControlName="from" type="text" onlyNumber>                  
                    </mat-form-field>
                </div>
                <div fxFlex="10" class="text-center" [class.pb-3]="variant !== 3">
                    <mat-icon class="text-muted">remove</mat-icon>
                </div>
                <div fxFlex="45">
                    <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                        <mat-label>{{(variant == 1) ? '' : 'Até'}}</mat-label>
                        <input matInput autocomplete="off" placeholder="{{ 'PRECO_ATE' | translate }}" formControlName="to" type="text" onlyNumber>                  
                    </mat-form-field>
                </div>
            </div> 

        </div>          

        @if (showMore) { 
            <div [fxLayout]="(vertical) ? 'column' : 'row wrap'" class="w-100">

                <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">                         
                    <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                        <mat-label>City</mat-label>
                        <mat-select placeholder="Select City..." formControlName="city" (selectionChange)="onSelectCity()">
                            @for (city of cities; track $index) {
                                <mat-option [value]="city">{{city.name}}</mat-option>
                            } 
                        </mat-select> 
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">
                    <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                        <mat-label>Zip Code</mat-label>
                        <input matInput placeholder="exp. 98104" autocomplete="off" formControlName="zipCode">                  
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">                         
                    <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                        <mat-label>Neighborhood</mat-label>
                        <mat-select placeholder="Select Neighborhood..." formControlName="neighborhood" multiple (selectionChange)="onSelectNeighborhood()">
                            @for (neighborhood of neighborhoods | filterNeighborhoods: form.get('city').value?.id; track $index) {
                                <mat-option [value]="neighborhood">{{neighborhood.name}}</mat-option>
                            }                          
                        </mat-select> 
                    </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2">                         
                    <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                        <mat-label>Street</mat-label>
                        <mat-select placeholder="Select Street..." formControlName="street" multiple>
                            @for (street of streets | filterStreets : { neighborhoods:form.get('neighborhood').value, cityId:form.get('city').value?.id }; track $index) {
                                <mat-option [value]="street">{{street.name}}</mat-option>
                            }                           
                        </mat-select> 
                    </mat-form-field>
                </div>
        
                <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2" formGroupName="bedrooms">
        
                    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <div fxFlex="45">
                            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                                <mat-label>{{(variant == 1) ? 'Bedrooms' : 'Bedrooms From'}}</mat-label>
                                <mat-select placeholder="From" formControlName="from">
                                    @for (number of [1,2,3,4,5,6,7,8,9,10]; track number) {
                                        <mat-option [value]="number">{{number}}</mat-option>
                                    } 
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex="10" class="text-center" [class.pb-3]="variant !== 3">
                            <mat-icon class="text-muted">remove</mat-icon>
                        </div>
                        <div fxFlex="45">
                            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                                <mat-label>{{(variant == 1) ? '' : 'Bedrooms To'}}</mat-label>
                                <mat-select placeholder="To" formControlName="to">
                                    @for (number of [1,2,3,4,5,6,7,8,9,10]; track number) {
                                        <mat-option [value]="number">{{number}}</mat-option>
                                    }  
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div> 
        
                </div> 
        
                <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2" formGroupName="bathrooms">
        
                    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <div fxFlex="45">
                            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                                <mat-label>{{(variant == 1) ? 'Bathrooms' : 'Bathrooms From'}}</mat-label>
                                <mat-select placeholder="From" formControlName="from">
                                    @for (number of [1,2,3,4,5,6,7,8,9,10]; track number) {
                                        <mat-option [value]="number">{{number}}</mat-option>
                                    }   
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex="10" class="text-center" [class.pb-3]="variant !== 3">
                            <mat-icon class="text-muted">remove</mat-icon>
                        </div>
                        <div fxFlex="45">
                            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                                <mat-label>{{(variant == 1) ? '' : 'Bathrooms To'}}</mat-label>
                                <mat-select placeholder="To" formControlName="to">
                                    @for (number of [1,2,3,4,5,6,7,8,9,10]; track number) {
                                        <mat-option [value]="number">{{number}}</mat-option>
                                    }   
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div> 
        
                </div> 

                <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2" formGroupName="garages">
        
                    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <div fxFlex="45">
                            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                                <mat-label>{{(variant == 1) ? 'Garages' : 'Garages From'}}</mat-label>
                                <mat-select placeholder="From" formControlName="from">
                                    @for (number of [1,2,3,4,5,6,7,8,9,10]; track number) {
                                        <mat-option [value]="number">{{number}}</mat-option>
                                    }  
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex="10" class="text-center" [class.pb-3]="variant !== 3">
                            <mat-icon class="text-muted">remove</mat-icon>
                        </div>
                        <div fxFlex="45">
                            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                                <mat-label>{{(variant == 1) ? '' : 'Garages To'}}</mat-label>
                                <mat-select placeholder="To" formControlName="to">
                                    @for (number of [1,2,3,4,5,6,7,8,9,10]; track number) {
                                        <mat-option [value]="number">{{number}}</mat-option>
                                    }  
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div> 
        
                </div> 

                <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2" formGroupName="area">

                    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <div fxFlex="45">
                            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                                <mat-label>{{(variant == 1) ? 'Area' : 'Area From'}}</mat-label>
                                <input matInput autocomplete="off" placeholder="From" formControlName="from" type="text" onlyNumber>                  
                            </mat-form-field>
                        </div>
                        <div fxFlex="10" class="text-center" [class.pb-3]="variant !== 3">
                            <mat-icon class="text-muted">remove</mat-icon>
                        </div>
                        <div fxFlex="45">
                            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                                <mat-label>{{(variant == 1) ? '' : 'Area To'}}</mat-label>
                                <input matInput autocomplete="off" placeholder="To" formControlName="to" type="text" onlyNumber>                  
                            </mat-form-field>
                        </div>
                    </div> 
        
                </div>

                <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-2" formGroupName="yearBuilt">

                    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <div fxFlex="45">
                            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                                <mat-label>{{(variant == 1) ? 'Year Built' : 'Fear Built From'}}</mat-label>
                                <input matInput autocomplete="off" placeholder="From" formControlName="from" type="text" onlyNumber maxlength="4">                  
                            </mat-form-field>
                        </div>
                        <div fxFlex="10" class="text-center" [class.pb-3]="variant !== 3">
                            <mat-icon class="text-muted">remove</mat-icon>
                        </div>
                        <div fxFlex="45">
                            <mat-form-field [appearance]="getAppearance()" [floatLabel]="getFloatLabel()">
                                <mat-label>{{(variant == 1) ? '' : 'Year Built To'}}</mat-label>
                                <input matInput autocomplete="off" placeholder="To" formControlName="to" type="text" onlyNumber maxlength="4">                  
                            </mat-form-field>
                        </div>
                    </div> 
        
                </div>

                <div fxFlex="100" class="mb-2"> 
                    <p class="uppercase m-2 fw-500">Features</p> 
                    <div formArrayName="features" [fxLayout]="(vertical) ? 'column' : 'row wrap'">
                        @for (control of form['controls'].features['controls']; track $index; let i = $index) {
                            <div [formGroupName]="i">
                                <mat-checkbox formControlName="selected" color="primary">{{features[i].name}}</mat-checkbox>                         
                            </div>
                        }                      
                    </div>
                </div>

            </div>
        } 

    </div> 

    <div fxLayout="row" fxLayoutAlign="center center" class="p-2">       
        <button mat-raised-button color="warn" class="uppercase mx-1" (click)="reset()">{{ 'BTN.CLEAR' | translate }}</button>
        <!-- @if (!vertical) {
            <button mat-raised-button color="primary" class="uppercase mx-1" (click)="showMore = !showMore">
                {{( showMore ? 'BTN.HIDE' : 'BTN.ADVANCED' )| translate}}
            </button> 
        } -->
        @if (searchOnBtnClick) {
            <button mat-raised-button color="primary" class="search-btn uppercase mx-1" (click)="search()">
                <mat-icon class="mat-icon-md">search</mat-icon> Search
            </button>
        }
    </div>    

</form>