<div fxLayout="row wrap">
    @for (item of items; track $index) {
        <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50" class="p-5">
            @if(item.name == 'Outros Voos'){
                <mat-card class="pricing-card text-center border-accent p-0 h-100" style="border-color: rgb(0, 53, 178);">
                    <h2 class="pricing-title my-3">{{item.name}}</h2>
                    <div class="bg-accent pricing-header p-2" fxLayout="column" fxLayoutAlign="center center" style="min-height: 50px; background-color: rgb(0, 53, 178);">
                        <mat-icon>arrow_drop_down</mat-icon>
                    </div>
                    <div class="p-3">
                        <p class="py-2" [class.del]="item.exclusivo == '0'" [class.text-muted]="item.exclusivo == '0'">
                            {{ 'PRICING.SALA_VIP' | translate }} 
                        </p>
                        <p class="py-2" [class.del]="item.roteiro == '0'" [class.text-muted]="item.roteiro == '0'">
                            {{ 'PRICING.TEMPO_VOO' | translate }}  
                        </p>
                        <p class="py-2" [class.del]="item.transfer == '0'" [class.text-muted]="item.transfer == '0'">
                            {{ 'PRICING.TRANSFER' | translate }} 
                        </p>
                        <p class="py-2" [class.del]="item.champagne == '0'" [class.text-muted]="item.champagne == '0'">
                            {{ 'PRICING.CHAMPAGNE' | translate }}
                        </p>
                        <p class="py-2" [class.del]="item.fotografia == '0'" [class.text-muted]="item.fotografia == '0'">
                            {{ 'PRICING.FOTOGRAFIA' | translate }}  
                        </p>
                        <p class="py-2" [class.del]="item.gravacao == '0'" [class.text-muted]="item.gravacao == '0'">
                            {{ 'PRICING.GRAVACAO' | translate }} 
                        </p>
                        <p class="py-2" [class.del]="item.buque == '0'" [class.text-muted]="item.buque == '0'">
                            {{ 'PRICING.BUQUE' | translate }} 
                        </p>
                    </div>
                </mat-card>
            }
            @if(item.name == 'Passeio VIP'){
                <mat-card class="pricing-card text-center border-accent p-0 h-100" style="border-color: rgb(59, 59, 59);">
                    <h2 class="pricing-title my-3">{{item.name}}</h2>
                    <div class="bg-accent pricing-header p-2" fxLayout="column" fxLayoutAlign="center center" style="min-height: 50px; background-color: rgb(59, 59, 59);">   
                        <mat-icon>arrow_drop_down</mat-icon>
                    </div>
                    <div class="p-3">
                        <p class="py-2" [class.del]="item.exclusivo == '0'" [class.text-muted]="item.exclusivo == '0'">
                            {{ 'PRICING.SALA_VIP' | translate }} 
                        </p>
                        <p class="py-2" [class.del]="item.roteiro == '0'" [class.text-muted]="item.roteiro == '0'">
                            {{ 'PRICING.TEMPO_VOO' | translate }} 
                        </p>
                        <p class="py-2" [class.del]="item.transfer == '0'" [class.text-muted]="item.transfer == '0'">
                            {{ 'PRICING.TRANSFER' | translate }} 
                        </p>
                        <p class="py-2" [class.del]="item.champagne == '0'" [class.text-muted]="item.champagne == '0'">
                            {{ 'PRICING.CHAMPAGNE' | translate }}  
                        </p>
                        <p class="py-2" [class.del]="item.fotografia == '0'" [class.text-muted]="item.fotografia == '0'">
                            {{ 'PRICING.FOTOGRAFIA' | translate }}  
                        </p>
                        <p class="py-2" [class.del]="item.gravacao == '0'" [class.text-muted]="item.gravacao == '0'">
                            {{ 'PRICING.GRAVACAO' | translate }} 
                        </p>
                        <p class="py-2" [class.del]="item.buque == '0'" [class.text-muted]="item.buque == '0'">
                            {{ 'PRICING.BUQUE' | translate }} 
                        </p>
                    </div>
                </mat-card>
            }
        </div>
    } 
</div>